apiVersion: v1
kind: Secret
metadata:
  name: bank-secrets
  namespace: default
type: Opaque
stringData:
  DATABASE_USER: ""
  DATABASE_PASS: ""
  BANK_JWT_SECRET: ""
  BANK_NOTIFICATION_EMAIL: ""
  MAIL_USERNAME: ""
  MAIL_PASSWORD: ""
  CVV_ENCRYPTION_KEY: ""